body {
    background-color: #3B5998;
    color: #FDFFFF;
    width: 500px;
    margin: 0 auto;
}

button {
    padding: 5px 20px;
    background-color: #66A853;
    color: #FDFFFF;
    border-color: #66A853;
    border-style: none;
    cursor: pointer;
}

button:hover {
    background-color: #5D9649;
}

input {
    height: 20px;
}
